/.env
/.vscode
.venv/
/node_modules
/client/dist
/dist
*.log
.DS_Store
.cache
/vfmd_system/venv
/logs
data/
results/
backtests/
logs/
cache/
checkpoints/
*.csv
*.parquet
*.feather
.replit
/data
/.replit
/data/cache/
.env
vfmd_system/venv
vfmd_system/